
.view-latest-media {
  .views-row {
    &:nth-child(4n-2),&:nth-child(4n-3){
      .teaser-image{
        &:after{
          @include triangle-left($nrw-primary);
          top: 15px;
          right: 0;
        }
      }
    }
    &:nth-child(4n-1),&:nth-child(4n){
      .media--preview__image-block {
        float: right;
      }
      .teaser-image{
        &:after{
          @include triangle-right($nrw-primary);
          top: 15px;
        }
      }
    }
  }
}

.media--preview {
  height: 240px;
  overflow: hidden;
}
.media--preview__text-block {
  background-color: $nrw-primary;
  height: 240px;
}
.media--preview__type-text {
  position: absolute;
  left: $grid-gutter-width/2;
  top: $vertical-gutter-width/2;
  z-index: 1;
  font-size: $font-size-small;
  line-height: $font-size-small;
  font-weight: bold;
  color: $color-white;
  background: $brand-primary;
  padding: $padding-xs-vertical*3 $padding-small-horizontal;
}

.media--preview__info {
  position: absolute;
  bottom: 0;
  color: $brand-primary;
  padding: $padding-xs-horizontal $padding-xs-horizontal 0 $padding-xs-horizontal;
  text-align: left;
  font-size: $font-size-base;
}
.media--preview__caption {
  float: none;
  padding: 0;
  font-size: $font-size-base;
}

.media--preview__copyright {
  font-size: $font-size-base;
  &:before {
    content: "/";
    padding-left: 0;
  }
}

.media--preview__dummy {
  position: relative;
  background-color: $background-grey;

  $media-dummy-icon-size: 50px;

  &:before {
    content: '\f01d';
    position: absolute;
    bottom: $grid-gutter-width/2;
    right: $grid-gutter-width/2;
    font-family: FontAwesome;
    font-size: $media-dummy-icon-size;
    line-height: $media-dummy-icon-size;
    color: $brand-primary;
  }
}