<div class="header__upper-menu">
    <div class="header__upper-menu--title">{% trans %} TECHNISCHES MENU {% endtrans %}<i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>
    <div class="header__upper-menu--elements">
      {{ language_block }}
        <div class="menu col-md-4">
            <nav id="service-menu" class="navigation" role="navigation">
                <ul class="menu clearfix">
                    <li class="first leaf"><a href="/leichte-sprache" class="leichtesprache">Leichte Sprache</a></li>
                    <li class="last leaf"><a href="/gebaerdensprache" class="gebaerdensprache">Gebärdensprache</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu col-md-5 right">
            <nav id="secondary-menu" role="navigation" class="navigation">
                <ul id="secondary-menu-links" class="links inline clearfix">
                  {% if logged_in %}
                      <li class="first"><a href="/user" title="Benutzer" class="login">{% trans %}Benutzer{% endtrans %}</a></li>
                  {% else %}
                      <li class="first"><a href="/user/login" title="Anmelden / Registrieren" class="login">{% trans %}Anmelden / Registrieren{% endtrans %}</a></li>
                  {% endif %}
                  {% set has_top_navigation = page.top_navigation|render|striptags|trim is not empty %}
                  {% if has_top_navigation %}
                      <li><a href="/servicecenter/kontakt" title="Kontakt" class="kontakt">Kontakt</a></li>
                    {{ page.top_navigation }}
                  {% else %}
                      <li class="last"><a href="/servicecenter/kontakt" title="Kontakt" class="kontakt">Kontakt</a></li>
                  {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{{ content.custom_block_output }}