.block-views-blockblog-author-blog-author {
  margin: 0 -$padding-large-vertical*2;
  padding: $padding-large-vertical*2;
  padding-bottom: 0;
  color: $brand-primary;
  background: $nrw-light;

  &:before {
    content:'\f061';
    font-family: FontAwesome;
    color: $color-white;
    background-color: $brand-primary;
    min-width: 45px; // To always keep width - responsive
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: $padding-base-horizontal + 5;
  }

  h2 {
    font-size: $font-size-h3;
    line-height: 45px;
    margin-top: 0;
  }

  p {
    padding: 20px;
  }
}