//block style is here

// For block title in sidebar second
.region-sidebar-second {
  
  .block, nav{
    margin: 0 -1*($grid-gutter-width/2);
    > *{
     margin: $grid-gutter-width/2;
   }
    .paragraph__content{
      .block-title{
        margin-top:  -1*($grid-gutter-width/2); 
      }
    }
  }
  .block-sidebar-paragraphs{
    margin-top:  -1*($grid-gutter-width/2); 
  } 
  h2.block-title, nav > h2 {
    font-size: $font-size-h2;
    line-height: 1;
    margin: 0;
    padding: $grid-gutter-width/2;
    display: inline-block;
    color: $brand-secondary;
    background-color: $nrw-light;
    width: 100%;

    &:before {
      content: '\f061';
      font-family: FontAwesome;
      color: $color-white;
      background-color: $brand-secondary;
      min-width: 45px; // To always keep width - responsive
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      margin-right: $padding-base-horizontal + 5;
    }
  }
}