// Styles for nodes

article.long-text {
  border-bottom: 1px solid #dde6f0;
  .teaser-content{
    padding: $grid-gutter-width/2;
  }
  .teaser-image{
    padding: 0;
    .image__caption {
      display: none;
    }
  }
  &:nth-child(odd){
    .teaser-image{
      float: right;
      &:after{
        @include triangle-right($color-white);
        top: 15px;
      }
    }
  }
  &:nth-child(even){
    .teaser-image{
      &:after{
        @include triangle-left($color-white);
        top: 15px;
        right: 0px;
      }
    }
  }
}

article.preview,
article.slim {
  padding: 0;
  .teaser-image{
    padding: 0;
    .image__caption {
      display: none;
    }
  }
  .teaser-content{
    max-height: 320px;
    padding: 20px;
    overflow: hidden;
    h3{
      font-weight: bold;
    }
  }
  &:nth-child(4n-2),&:nth-child(4n-3){
    .teaser-image{
      &:after{
        @include triangle-left($color-white);
        top: 15px;
        right: 0;
      }
    }
  }
   &:nth-child(4n-1),&:nth-child(4n){
    .teaser-image{
      float: right;
      &:after{
        @include triangle-right($color-white);
        top: 15px;
      }
    }
  }
}

article.slim{
  .teaser-image{
    .image__caption {
      display: none;
    }
  }
  .teaser-content{
    padding: $grid-gutter-width/2;
  }
}

article.small-image{
  border-bottom: 1px solid #dde6f0;
  .teaser-image{
    padding: $grid-gutter-width/2;
    .image__caption {
      display: none;
    }
  }
  .teaser-content{
    padding: $grid-gutter-width/2;
    h3{
      font-weight: bold;
    }
  }

}
.path-frontpage{
  .full{
    .header{
      display: none;
    }
  }
}

.full{
  &.event{
    .header{
      margin-top: -1*($grid-gutter-width/5.71);
    }
  }
  .header{
    position: relative;
    margin: 0 -1*($grid-gutter-width/2) $grid-gutter-width/2.66;
    background: $brand-primary;
    padding: 0 $grid-gutter-width/2 $grid-gutter-width/2;
    .media-video{
      margin: 0 -1*($grid-gutter-width/2);
    }
    .header-image__image{
    }
    .sharing{
      margin-top: $grid-gutter-width/6;
    }
    &:after{
      @include triangle-down;
      bottom: -15px;
      left: $grid-gutter-width/2;
    }
  }
}